@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
   html {
  height: 100%;
}

body {
  overflow: hidden;
  background: #bcdee7 url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font: normal 14px/1.618em "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body:before {
  content: "";
  height: 0px;
  padding: 0px;
  border: 130em solid #313440;
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: 2;
  display: block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
}

h1,
h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

p {
  margin: 0px;
}

.profile-card {
  background: #FFB300;
  width: 56px;
  height: 56px;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  margin-top: 70px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

.profile-card header {
  width: 179px;
  height: 280px;
  padding: 40px 20px 30px 20px;
  display: inline-block;
  float: left;
  border-right: 2px dashed #EEEEEE;
  background: #FFFFFF;
  color: #000000;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-card header h1 {
  color: #FF5722;
}

.profile-card header a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 25px 30px;
}

.profile-card header a:after {
  position: absolute;
  content: "";
  bottom: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  border: 4px solid #FFFFFF;
  -webkit-transform: scale(0);
  transform: scale(0);
  background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
  background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
  animation: scaleIn 0.3s 3.5s ease forwards;
}

.profile-card header a > img {
  width: 120px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card header a:hover > img {
 
  filter: drop-shadow(0 0 10px #3685df)
  drop-shadow(0 0 30px #3685df)
  drop-shadow(0 0 60px #3685df)
  drop-shadow(0 0 100px #3685df)
  drop-shadow(0 0 150px #3685df);
}

.profile-card .profile-bio {
  width: 175px;
  height: 180px;
  display: inline-block;
  float: right;
  padding: 50px 20px 30px 20px;
  background: #FFFFFF;
  color: #333333;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links {
  width: 218px;
  display: inline-block;
  float: right;
  margin: 0px;
  padding: 15px 20px;
  background: #FFFFFF;
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: moveIn 1s 3.1s ease forwards;
  animation: moveIn 1s 3.1s ease forwards;
}

.profile-social-links li {
  list-style: none;
  margin: -5px 0px 0px 0px;
  padding: 0px;
  float: left;
  width: 25%;
  text-align: center;
   z-index: 1000;
}

.profile-social-links li a {
  display: inline-block;
  color: red;
  width: 24px;
  height: 24px;
  padding: 6px;
  position: relative;
  overflow: hidden!important;
  -webkit-border-radius: 50%;
  border-radius: 50%;
   z-index: 1000;
}

.profile-social-links li a i {
  position: relative;
  z-index: 1;
}

.profile-social-links li a img,
.profile-social-links li a svg {
  width: 24px;
  z-index: 1000;
}

@-webkit-keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes init {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 56px;
    height: 56px;
    margin-top: 0px;
    opacity: 1;
  }
}

@-webkit-keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@keyframes puff {
  0% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100%;
    padding: 0px 100%;
  }
}

@-webkit-keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    -webkit-border-radius: 0px;
  }
}

@keyframes borderRadius {
  0% {
    -webkit-border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}

@-webkit-keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@keyframes moveDown {
  0% {
    top: 50%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@keyframes moveUp {
  0% {
    background: #FFB300;
    top: 100%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 50%;
    background: #E0E0E0;
  }
}

@-webkit-keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    -webkit-border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
  }
}

@keyframes materia {
  0% {
    background: #E0E0E0;
  }
  50% {
    border-radius: 4px;
  }
  100% {
    width: 440px;
    height: 280px;
    background: #FFFFFF;
    border-radius: 4px;
  }
}

@-webkit-keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@keyframes moveIn {
  0% {
    margin-top: 50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: -20px;
  }
}

@-webkit-keyframes scaleIn {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    -webkit-transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale3d(0, 0, 0);
  }
  50%,
  100% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    opacity: 0;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  body {
    background-size: cover;
  }
  body:before {
    width: 0px;
  }
  @ -webkit-keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
  @keyframes puff {
    0% {
      top: 100%;
      width: 0px;
      padding-bottom: 0px;
    }
    100% {
      top: 50%;
      width: 100%;
      padding-bottom: 100%;
    }
  }
}

@media screen and (min-height: 480px) {
  .profile-card header {
    width: auto;
    height: auto;
    padding: 30px 20px;
    display: block;
    float: none;
    border-right: none;
  }
  .profile-card .profile-bio {
    width: auto;
    height: 100px;
    padding: 15px 20px 30px 20px;
    display: block;
    float: none;
  }
  .profile-social-links {
    width: 100%;
    display: block;
    float: none;
  }
  @ -webkit-keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      -webkit-border-radius: 4px;
    }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      -webkit-border-radius: 4px;
    }
  }
  @keyframes materia {
    0% {
      background: #E0E0E0;
    }
    50% {
      border-radius: 4px;
    }
    100% {
      width: 280px;
      height: 440px;
      background: #FFFFFF;
      border-radius: 4px;
    }
  }
}
html{
    scroll-behavior: smooth;
}
    
    *{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.toggle{
position: fixed;
top: 30px;
right: 30px;
width: 50px;
height: 50px;
background: #000 url(menu.png);
background-size: 30px;
background-position: center;
background-repeat: no-repeat;
cursor: pointer;
z-index: 1000;
}

.toggle.active{
background: #000 url(close.png);
background-size: 30px;
background-position: center;
background-repeat: no-repeat;
cursor: pointer;
}    

section{
padding: 100px;
min-height: 100vh;
}
.banner {
position: relative;
width: 100%;
min-height: 100vh;
 z-index: 1000;
}

.banner .imgsidebar{
position: absolute;
top: 0;
left: 0;
width: 500px;
height: 100%;
 z-index: 1000;
}

.banner .imgsidebar img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
 z-index: 1000;
}

.banner .contentbx ,
.sidebar {
position: absolute;
top: 0;
right: 0;
width: calc(100% - 500px);
height: 100%;
display: flex;
justify-content: center;
align-items: center;
padding: 100px;
 z-index: 1000;
}

.logoText {
position: absolute;
top: 40px;
left: 100px;
font-size: 1.2em;
letter-spacing: 1px;
background: #333;
color: #fff;
 z-index: 1000;
}
.banner .contentbx h4 {
font-size: 1.5em;
color: #333;
font-weight: 300;

}
.banner .contentbx h4 span {
color: #00bcd4;
font-size: 1.5em;
font-weight: 700;
}
.banner .contentbx h2{
font-size: 3em;
color: #333;
line-height: 1em;
}
p {
font-size: 1.1em;
margin: 20px 0 ;
font-weight: 300;
}

.btn {
background: #00bcd4;
color: #fff;
padding: 10px 30px ;
display: inline-block;
text-decoration: none;
font-weight: 500;
letter-spacing: 2px ;
}

.btn:hover{
    transform: scale(1);
    animation-delay: 1s;
    
    
}

.sidebar {
position: fixed;
background: #000;
display: flex;
justify-content: center;
align-items: center;
transition: 0.5s;
padding: 40px;
z-index: 100;
right: -100%;
}

.sidebar.active{
right: 0;
}
.sidebar ul {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.sidebar ul li {
list-style: none;
}

.sidebar ul li a {
color: #fff;
text-decoration: none;
font-size: 2em;
margin: 10PX 0;
font-weight: 300;
letter-spacing: 2PX ;
text-transform: uppercase;
}

.sidebar ul li a:hover{
color:#00bcd4 ;
}

.sci {
position: absolute;
left: 100px;
bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
}

.sci li {
margin-right: 10px;
list-style: none;
}

.sci li img {
transform: scale(0.5);
opacity: 0.7;
}

.sci li img:hover {
transform: scale(1);
opacity: 1;
}

.title {
width: 100%;
text-align: center; 
}

.title h2{
position: relative;
color: #00bcd4;
font-size: 1.8em;
font-weight: 700;
letter-spacing: 1px ;
}

.title p {
max-width: 700px;
display: inline-block;
}

.title h2::before{
content: '';
position: absolute;
left: 50%;
transform: translate(-50%);
bottom: -1px ;
width: 60px;
height: 4px;
background: #000;
}
.title.white h2 {
color: #00bcd4;

}

.title.white p{
color: #fff;
}

.title.white h2::before{
background: #fff;
}
.about {
background: #000;
}

.about .content {
display: flex;
justify-content: space-between;
margin-top: 40px; 
}
.about .content .textBx{
min-width: 49%;
width: 49%;
}

.about .content .textBx p {
color: #fff;
}

.about .content .imgBx {
margin-left: 40px;
}

.about .content .imgBx img {
max-width: 100%;
}

.services .content {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.services .content .servicesBx {
padding: 40px 20px ;
max-width: 340px ;
margin: 20px ;
transition: 00.5s;
text-align: center;
background: #f5f5f5;
}

.services .content .servicesBx:hover {
background: #000;
}

.services .content .servicesBx img {
max-width: 80px ;
transition: 00.5s;
}
.services .content .servicesBx:hover img {
filter: invert(1);
}
.services .content .servicesBx h2 {
margin-top: 20px ;
margin-bottom: 10px ;
font-size: 20px;
font-weight: 600;
transition: 00.5s;
}
.services .content .servicesBx:hover h2{
color: #fff;
}

.services .content .servicesBx p{
margin: 0;
transition: 00.5s;
}

.services .content .servicesBx:hover p{
color: #00bcd4;

}

